{
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "never",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
